@model Backend4.Models.SignUpCredentialsViewModel
@{
    ViewBag.Title = "Sign Up Credentials";
}

<h2>Sign up</h2>

<form asp-action="SignUpCredentials" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <input type="hidden" asp-for="Firstname" />
        <input type="hidden" asp-for="Lastname" />
        <input type="hidden" asp-for="Day" />
        <input type="hidden" asp-for="Month" />
        <input type="hidden" asp-for="Year" />
        <input type="hidden" asp-for="Exist" />
        <div class="col-md-10">
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input asp-for="Remembered" type="checkbox" />
                    Remember?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button name="Action" class="btn btn-primary" value="false">Back</button>
            <button name="Action" class="btn btn-primary" value="true">Complete sign up</button>
        </div>
    </div>
</form>